<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="latestmodule" translate="label" sortOrder="160">
            <label>LA Test Module</label>
        </tab>
        <section id="laproductpage" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Product Page</label>
            <tab>latestmodule</tab>
            <resource>LA_TestModule::productpage_config</resource>
            <group id="custom_html" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Custom Html Block</label>
                <field id="show_in_tab" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Show block in new Tab</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_in_container2" translate="label" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Show block in Container</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

        </section>
    </system>
</config>